#footer {
    background-color: #01426A;
    margin-top:20px;
    margin-left:auto;
    margin-right:auto;

}

.f-div {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    text-align: center;
    padding-top: 20px;

}

.foot {
    color: white;
    width: 300px;
    margin-bottom: 10px;
    text-align: left;
    padding-left: 0;

}

.footer-links {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: white;
    font-size: 15px;
}

.footer-links:hover {
    text-decoration: none;
    color: yellow;
}

.fa {
    padding: 10px;
}

.fa:hover {
    color: yellow;
}