.section-two {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}






.second-div-holder {

    width: 80%;
    margin: auto;



}


.section-two-one {
    width: 100%;
    margin: auto;
    align-items: center;
    text-align: center;
}

.section-two-one h2 {
    font-family: Helvetica, Arial, Microsoft Yahei, 微软雅黑, STXihei, 华文细黑, sans-serif;
    font-size: 34px;
    color: #2b3340
}

.section-two-one p {
    font-family: Helvetica, Arial, Microsoft Yahei, 微软雅黑, STXihei, 华文细黑, sans-serif;
    font-size: 16px;
    color: #2b3340;
    line-height: 20px;
}


.section-two-two {

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    margin-top: 20px;

}

@media (max-width: 500px) {
    .section-two-two {
        flex-direction: column

    }
}

/* @media (max-width: 500px) {
    .one {
        display: none;
    }
}

 */






/* CSS */
.button-2 {
    background-image: linear-gradient(-180deg, #37AEE2 0%, #1E96C8 100%);
    border-radius: .5rem;
    box-sizing: border-box;
    color: #FFFFFF;
    display: flex;
    font-size: 16px;
    justify-content: center;
    padding: 1rem 1.75rem;
    text-decoration: none;
    /* width: 100%; */
    border: 0;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin: auto;
}

.button-43:hover {
    background-image: linear-gradient(-180deg, #1D95C9 0%, #17759C 100%);
}

@media (min-width: 768px) {
    .button-43 {
        padding: 1rem 2rem;
    }
}